.bg {
  background: url('https://th.bing.com/th/id/R.72c9549994872da5c9da47c07f276fd3?rik=4oD9oHKzJfFg3g&pid=ImgRaw&r=0') no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100vh;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content:center ;
  flex-flow: column wrap;
  align-self: center;
  border-radius: 71px 71px 71px 71px;
  moz-border-radius: 71px 71px 71px 71px;
  webkit-border-radius: 71px 71px 71px 71px;
  border: 10px double #000000;
  background-color: rgb(17, 97, 219);
}